@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
article {
    margin-bottom: 60px;
}

.animated {
    display: block;
    width: 300px;
    padding: 30px 0;
    margin: 60px auto 20px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    border-radius: 6px;
    animation-iteration-count: infinite;
    transition: .3s;
}
.stop .animated {
    background: #ddd;
    animation: none;
}
.an1s .animated {
    background: #fdd;
    animation-duration: 1s;
}
.an2s .animated {
    background: #dfd;
    animation-duration: 2s;
}
.an3s .animated {
    background: #ddf;
    animation-duration: 3s;
}

h2 {
    margin: 100px auto 0;
}
.inner div,
.col_inner div {
    text-align: center;
}
.inner div b,
.col_inner div b {
    margin: 0 3px;
}
.inner {
    width: 300px;
    margin: auto;
}
.col {
    display: flex;
    width: 650px;
    margin: auto;
    justify-content: space-between;
}

.btn {
    display: flex;
    width: 65%;
    margin: 15px auto;
}
.btn span {
    flex: 1;
    font-size: 0.8rem;
    margin: 0 2px;
    padding: 3px 0;
    border-radius: 3px;
    background: #eee;
    color: #888;
    cursor: pointer;
    transition: .3s;
}
.btn span:hover {
    opacity: .8;
}
.btn span.btn_stop.active {
    background: #ddd;
}
.btn span.btn_1s.active {
    background: #fdd;
}
.btn span.btn_2s.active {
    background: #dfd;
}
.btn span.btn_3s.active {
    background: #ddf;
}
.end {
    border-bottom: solid 2px #888;
    padding-bottom: 20px;
    margin-bottom: 100px;
}


@media(max-width: 680px) {
    h2 {
        text-align: center;
    }
    .animated {
        width: 95%;
        font-size: 0.9rem;
        padding: 20px 0;
    }
    .inner .animated {
        max-width: 250px;
    }
    .col_inner .animated {
        max-width: 150px;
    }
    .btn,
    .inner {
        width: 90%;
    }
    .col {
        width: 99%;
    }
    .col_inner {
        flex-basis: 49%;
    }
}
@media(max-width: 470px) {
    .col_inner .animated {
        max-width: 120px;
    }
    .animated {
        width: 90%;
    }
}